* {
    font-family: "Libre Baherville Serif";
}

body {
    margin: 20px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #08313A;
    background-color: #bfd7c3;
}

.row {
    margin: 10px;
}

.col {
    height: 100px;
}

main {
    background-color: rgb(164, 216, 216);
}

li {
    justify-content: center;
    margin: 15px;
}


.weather {
    background-color: #bfd7c3;
}
.city {
    height: 100%;
}

.search-list {
    margin: 10px;

}

.container {
    height: 200px;
}

#cityinput {
    margin: 10px;
}

